.grid {
  background: rgba(255,255,0,0.2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40px 2fr repeat(2, minmax(75px, 1fr));
  grid-template-areas:  ". . . ."
                        ". . . item1"
                        "item2 item2 item2 item1"
                        "item2 item2 item2 .";
}

#item1,#item2 {
  display: grid;
  place-items: center center;
  color: white;
  font-family: sans-serif;
}

#item1 {
  background: rgba(255,0,0,0.7);
  grid-area: item1;
}

#item2 {
  background: rgba(0,0,255,0.7);
  grid-area: item2;
}
