body {
  margin: 20px;
}

.header {
  grid-area: header;
  background: #0d1526;
  display: grid;
  place-content: center;
}

.menu {
  grid-area: menu;
  background: #f03c4d;
  display: grid;
  place-content: center;
}

.hero {
  grid-area: hero;
  background: #1e90ff;
  display: grid;
  place-content: center;
}

.main {
  grid-area: main;
  background: #24344b;
  display: grid;
  place-content: center;
}

.banner {
  grid-area: banner;
  background: #FFD166;
  display: grid;
  place-content: center;
}

.extra {
  grid-area: extra;
  background: #06D6A0;
  display: grid;
  place-content: center;
}

.image {
  grid-area: image;
  background: #BEE9E8;
  display: grid;
  place-content: center;
}

.toolbar {
  grid-area: toolbar;
  background: #6a727c;
  display: grid;
  place-content: center;
}

.grid {
  height: 94vh;
  color: white;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40px 2fr repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "menu main main main"
    "menu main main main"
    "menu banner banner banner"
    "menu extra image image";
}

/*
@media (min-width: 721px) {
  .grid {
    grid-template-areas:
      "header header header header"
      "hero hero hero hero"
      "menu main main main"
      "menu main main main"
      "menu banner banner banner"
      "menu extra image image";
  }
}

@media (min-width: 1001px) {
  .grid {
    grid-template-areas:
      "header menu menu menu"
      "hero hero hero hero"
      "hero hero hero hero"
      "main main . image"
      "main main . extra"
      "banner banner banner banner";
  }
} */
